description = "left-sidebar"
==
<div class="uk-width-expand@m uk-visible@m">
    
	<div class="uk-card uk-card-body uk-card-default uk-card-hover uk-card-border_color_theme uk-margin-medium">
		
		<!--PLAYER - Блок расположения плеера. Плееры: default, lite, energy или custom (свой плеер) (можно несколько) -->
        <div class="uk-margin-auto uk-margin-small-bottom uk-text-center">
            <div id="my_player" class="my_player" data-player="energy" data-skin="blue" data-width=300 data-autoplay=1 data-volume=70 data-streamurl="https://myradio24.org/klimbatika"></div>
        </div>
        <!--END PLAYER-->
        
        <!--INFOS - Блок расположения информации о радио. (можно несколько) -->
        <div class="my_info" style="visibility:hidden;">
        	<label><b>Текущая:</b></label>
            <p class="uk-margin-remove-top uk-margin-small-bottom">%song%</p>
            
            <label><b>Следующая:</b></label>
            <p class="uk-margin-remove-top uk-margin-small-bottom">%nextsong%</p>
            
            <label><b>Слушают:</b></label>
            <p class="uk-margin-remove-top uk-margin-small-bottom">&#127911; %listeners%</p>
        </div>
        <!--END INFOS-->

	</div>
	
	<ul class="uk-nav-default uk-nav-parent-icon uk-margin-medium uk-nav uk-sidebar-nav" uk-nav="">
	    <li><a href="/" ><span class="uk-margin-small-right uk-icon" uk-icon="home"></span> Главная</a></li>
	    <li><a href="/" class="uk-hidden"><span class="uk-margin-small-right uk-icon" uk-icon="play-circle"></span> Слушать все треки</a></li>
		<li><a href="/video" ><span class="uk-margin-small-right uk-icon" uk-icon="youtube"></span> Смотреть клипы</a></li>
		<li><a href="{{ 'assets/klimbatika-albums.torrent'|theme }}" ><span class="uk-margin-small-right uk-icon" uk-icon="download"></span> Скачать торрент</a></li>
		
		<li><a href="/about" ><span class="uk-margin-small-right uk-icon" uk-icon="users"></span> О группе</a></li>
		<li><a href="/dictionary" ><span class="uk-margin-small-right uk-icon" uk-icon="file-text"></span> Климбатический словарь</a></li>
		
	</ul>



	<div class="uk-card uk-card-body uk-card-default uk-card-hover uk-card-border_color_theme uk-margin-medium">
		<h2 class="uk-card-title">Состав группы:</h2>
		<ul class="uk-nav uk-navbar-dropdown-nav">
			<li><span class="uk-text-bold">Ягуар</span> (05.10.1995) - вокал, гитара </li>
            <li><span class="uk-text-bold">Йосики</span> (26.02.1993) - гитара </li>
            <li><span class="uk-text-bold">Дэдмама</span> - бас </li>
            <li><span class="uk-text-bold">Адити</span> - бэк-вокал 
            <li><span class="uk-text-bold">Арм Хэмбол</span> (19.03.1997) - ударные </li>
        </ul>    
          
        <h2 class="uk-card-title">Экс-участники</h2> 
        <ul class="uk-nav uk-navbar-dropdown-nav"> 
            <li><span class="uk-text-bold">Люцифер де Воланд</span> (04.09.1995) - ударные </li>
            <li><span class="uk-text-bold">Демон</span> (22.03.1995) - клавиши </li>
            <li><span class="uk-text-bold">Завулон</span> (03.06.1993) - гитара </li>
            <li><span class="uk-text-bold">Крипер</span> (17.01.1994) - бас </li>
            <li><span class="uk-text-bold">Клим Фокс</span> (13.02.1993) - клавиши, гитара </li>
            <li><span class="uk-text-bold">Ван Хаос</span> (19.10.1994) - гитара, бэк-вокал </li>
            <li><span class="uk-text-bold">Алесса</span> (29.05.1994) - вокал, гитара</li>

		</ul>
	</div>
	
	<div class="uk-card uk-card-body uk-card-default uk-card-hover uk-card-border_color_theme uk-margin-medium">
		<h2 class="uk-card-title">Донат 50 руб.</h2>
		<iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%90%D0%B4%D0%BC%D0%B8%D0%BD%D1%83%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%20%D0%BD%D0%B0%20%D1%85%D0%BB%D0%B5%D0%B1%20%D1%81%20%D0%BC%D0%B0%D1%81%D0%BB%D0%BE%D0%BC&default-sum=50&button-text=выавыавыа&any-card-payment-type=on&button-size=m&button-color=orange&successURL=&quickpay=small&account=410014163217454&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
	</div>
	
	
	

</div>