description = "modals"

[viewBag]
==
<div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
	<div class=uk-offcanvas-bar>
		<button class=uk-offcanvas-close type=button uk-close></button>
		<!--
		<ul class="uk-nav uk-nav-default">
			<li class=uk-active><a href="#">Active</a></li>
			<li class=uk-parent>
				<a href="#">Parent</a>
				<ul class=uk-nav-sub>
					<li><a href="#">Sub item</a></li>
					<li><a href="#">Sub item</a></li>
				</ul>
			</li>
			<li class=uk-nav-header>Header</li>
			<li><a href="#"><span class=uk-margin-small-right uk-icon="icon: table"></span> Item</a></li>
			<li><a href="#"><span class=uk-margin-small-right uk-icon="icon: thumbnails"></span> Item</a></li>
			<li class=uk-nav-divider></li>
			<li><a href="#"><span class=uk-margin-small-right uk-icon="icon: trash"></span> Item</a></li>
		</ul>
		-->
		<h3>Описание</h3>
		<p>Бесплатный конструктор ориентировок преследует лишь одну цель - облегчить труд тех, кому в силу своей волонтерской или профессиональной занятости необходимо создавать объявления о поиске без вести пропавших.</p>
		
		<ul class="uk-nav uk-nav-default uk-nav-iconalign">
			<li class=uk-nav-header>По вопросам работы писать:</li>
			<li><a style="padding-left: 10px;" href="https://vk.com/contentim_ru" target="_blank">https://vk.com/contentim_ru</a></li>
			<li><a style="padding-left: 10px;" href="mailto:contentim@yandex.ru" target="_blank">contentim@yandex.ru</a></li>
		</ul>
		
	</div>
</div>

<div id="collective" uk-offcanvas="flip: true; overlay: true">
	<div class=uk-offcanvas-bar>
		<button class=uk-offcanvas-close type=button uk-close></button>
		<ul class="uk-nav uk-nav-default uk-nav-iconalign">
			<li class=uk-nav-header>Соц.сети и телевидение</li>
			<li><a href="https://ru.wikipedia.org/wiki/Климбатика" target="_blank"><span class="uk-margin-small-right uk-icon" uk-icon="heart"></span> Википедия</a></li>
			<li><a href="https://vk.com/climbatica_com" target="_blank"><span class="uk-margin-small-right uk-icon" uk-icon="heart"></span> Оф. группа ВК</a></li>
			<li><a href="https://vk.com/climbatica_nuar" target="_blank"><span class="uk-margin-small-right uk-icon" uk-icon="heart"></span> Оф. группа ВК <br>(раннее творчество)</a></li>
			<li><a href="https://www.youtube.com/watch?v=xM6DJJf9Oj8" target="_blank"><span class="uk-margin-small-right uk-icon" uk-icon="heart"></span> Климбатика на НТВ</a></li>

			<!--
			<li class=uk-active><a href="#">Active</a></li>
			-->

		</ul>
		<h2>Кратко</h2>
		<p>«Климба́тика» — российская рок-группа, основанная Алексом Беловым и Иваном Яковлевым (псевдоним Ван Хаос)
			26 июня 2006 года в Оренбурге.</p>
	</div>
</div>