description = "border-of-dusk-2008"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h1>Граница Сумерек <span class="uk-label">2008</span></h1>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/X3OLe9ailwC_DQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="border-of-dusk-2008"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('border-of-dusk-2008'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Сражаясь с мечтой',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/01. Сражаясь с мечтой.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Путь Самоубийцы',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/02. Путь Самоубийцы.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Я не боюсь',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/03. Я не боюсь.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Мы - Гротескные Машины',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/04. Мы - Гротескные Машины.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Сущность Некроматики',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/05. Сущность Некроматики.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Мио',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/06. Мио.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Он умрет, несомненно, с тобой',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/07. Он умрет, несомненно, с тобой.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Граница Сумерек',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/08. Граница Сумерек.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Шёпот',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/09. Шёпот.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Смерть, достойная Меня',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/10. Смерть, достойная Меня.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Мелким Шрифтом',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/11. Мелким Шрифтом.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Считай до Трёх',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/12.Считай до Трёх.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Счастливое Число Тринадцать',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/13.Счастливое Число Тринадцать.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Виват, Климбатика!',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/14. Виват, Климбатика!.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Потерянный в Заблуждениях',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/15. Потерянный в Заблуждениях.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
				{
					name: 'Перерождение',
					artist: 'Климбатика',
					url: '/songs/border-of-dusk-2008/16. Перерождение.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					
				},
			]
		});

	});

</script>