description = "cruducs-cro-2009"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h1>Крудукс Кро <span class="uk-label">2009</span></h1>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/eeiI6gXkXxJR6w" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="cruducs-cro-2009"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('cruducs-cro-2009'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Молитва',
					artist: 'Климбатика',
					url: '/songs/cruducs-cro-2009/01. Молитва.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				{
					name: 'Tuulenux Infuscomus',
					artist: 'Климбатика',
					url: '/songs/cruducs-cro-2009/02. Tuulenux Infuscomus.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				{
					name: 'Чертоги Цербера',
					artist: 'Климбатика',
					url: '/songs/cruducs-cro-2009/06. Чертоги Цербера.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				{
					name: 'Готика',
					artist: 'Климбатика',
					url: '/songs/cruducs-cro-2009/07. Готика.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				{
					name: 'Госпиталь',
					artist: 'Климбатика',
					url: '/songs/cruducs-cro-2009/09. Госпиталь.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				
			]
		});

	});

</script>