description = "genesis-2012"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Генезис <span class="uk-label">2012</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/TmhrSIShRo6q7Q" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="genesis-2012"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('genesis-2012'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Трупная Луна',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/01. Трупная Луна.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Дети Поземелья',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/02. Дети Поземелья.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Десять Негритят',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/03. Десять Негритят.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Карантин',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/04. Карантин.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Водная Тюрьма',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/05. Водная Тюрьма.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Мясо',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/06. Мясо.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Кровавая Таверна',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/07. Кровавая Таверна.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Вояж',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/08. Вояж.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Мёртвые Одуванчики',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/09. Мёртвые Одуванчики.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Меланхолия',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/10. Меланхолия.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Иди и Смотри',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/11. Иди и Смотри.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Чернобог',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/12. Чернобог.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Счастливое Число Тринадцать',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/13. Счастливое Число Тринадцать.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Это Нереально',
					artist: 'Климбатика',
					url: '/songs/genesis-2012/14. Это Нереально.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},


				
			]
		});

	});

</script>