description = "i-show-you-the-world-2012"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Я покажу тебе Мир <span class="uk-label">2012</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/Zmqc_2j7WKS_pQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="i-show-you-the-world-2012"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('i-show-you-the-world-2012'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Пеки Булки',
					artist: 'Климбатика',
					url: '/songs/i-show-you-the-world-2012/01. Пеки Булки.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Металл',
					artist: 'Климбатика',
					url: '/songs/i-show-you-the-world-2012/02. Металл.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Границы',
					artist: 'Климбатика',
					url: '/songs/i-show-you-the-world-2012/03. Границы.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Весна!',
					artist: 'Климбатика',
					url: '/songs/i-show-you-the-world-2012/04. Весна!.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Я покажу Тебе Мир',
					artist: 'Климбатика',
					url: '/songs/i-show-you-the-world-2012/05. Я покажу Тебе Мир.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				
				
			]
		});

	});

</script>