description = "infectious-infection-zone-2011"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Зона Инфекционного Заражения <span class="uk-label">2011</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/NQgNw8kMT5Ospg" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="infectious-infection-zone-2011"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('infectious-infection-zone-2011'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Мёртвые Канарейки, Бумажные Гвоздики',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/01.Мёртвые Канарейки, Бумажные Гвоздики.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Письмо Маме',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/02.Письмо Маме.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Одиночество Любви',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/03.Одиночество Любви.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Совершенное Несовершенство',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/04.Совершенное Несовершенство.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Температура Плавления',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/05.Температура Плавления.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Область Высокого Несчастного Случая',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/06.Область Высокого Несчастного Случая.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Я в Метро',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/07.Я в Метро.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Зодчий Вечной Красоты',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/08.Зодчий Вечной Красоты.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Только Наши Сны',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/09.Только Наши Сны.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Замри в Движении',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/10.Замри в Движении.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Всем Спать',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/11.Всем Спать.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Меланхолия',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/12.Меланхолия.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Иди и Смотри',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/13.Иди и Смотри.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'А в Небе говорят о Море',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/14.А в Небе говорят о Море.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Наше Войско назовут Надеждой',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/15.Наше Войско назовут Надеждой.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'За Стеной',
					artist: 'Климбатика',
					url: '/songs/infectious-infection-zone-2011/16.За Стеной.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},

				
			]
		});

	});

</script>