description = "kruducs-cro-2007"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Крудукс Кро <span class="uk-label">2007</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/JPycYwVuhj1oUQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="kruducs-cro-2007"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('kruducs-cro-2007'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Молитва',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/01. Молитва.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Tuulenux Infuscomus',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/02. Tuulenux Infuscomus.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Чернобог',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/03. Чернобог.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Фанатик',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/04. Фанатик.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Граф Кабал',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/05. Граф Кабал.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Чертоги Цербера',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/06. Чертоги Цербера.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Готика',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/07. Готика.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Кровавая Таверна. Аллилуйя',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/08. Кровавая Таверна. Аллилуйя.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Госпиталь',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/09. Госпиталь.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Мир Несбывшихся Надежд',
					artist: 'Климбатика',
					url: '/songs/kruducs-cro-2007/10. Мир Несбывшихся Надежд.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
			]
		});

	});

</script>