description = "lady-killer-2012"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Леди-Убийцы <span class="uk-label">2012</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/_fK6pqMhEBOEoA" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="lady-killer-2012"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('lady-killer-2012'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Королевы и Маньяки',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/01. Королевы и Маньяки.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Леди-Убийцы',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/02. Леди-Убийцы.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Начало',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/03. Начало.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Спокойной Ночи',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/04. Спокойной Ночи.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Патологоанатом',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/05. Патологоанатом.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Время',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/06. Время.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Джиперс Криперс',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/07. Джиперс Криперс.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Секс, Наркотики и Рок-н-Ролл',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/08. Секс, Наркотики и Рок-н-Ролл.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Система',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/09. Система.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тишь',
					artist: 'Климбатика',
					url: '/songs/lady-killer-2012/10. Тишь.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				
			]
		});

	});

</script>