description = "lunatiki"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle tag-2006">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Лунатики <span class="uk-label">2006</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/_Jd2LP0WFjSUDQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="lunatiki-2006"></div>
	</div>
</div>


<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('lunatiki-2006'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Соло Лунатиков',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/01. Соло Лунатиков.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игра',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/02. Игра.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Затерянный',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/03. Затерянный.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Огорченные Слова',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/04. Огорченные Слова.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Ллойд',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/05. Ллойд.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Климбатика',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/06. Климбатика.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тьма',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/07. Тьма.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Девочка, которой нет',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/08. Девочка, которой нет.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Старый Лагерь',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/09. Старый Лагерь.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Климбатический Астрал',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/10. Климбатический Астрал.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Сны',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/11. Сны.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Одинокая Песня',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/12. Одинокая Песня.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Нам не поверят',
					artist: 'Климбатика',
					url: '/songs/lunatiki-2006/13. Нам не поверят.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
			]
		});

	});

</script>