description = "new-tale-of-the-star-boy-2009"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Новая Сказка о Звёздном Мальчике <span class="uk-label">2009</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/nQ4Gut09r4Wy8w" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="new-tale-of-the-star-boy-2009"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('new-tale-of-the-star-boy-2009'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: '01. В Каждом Маленьком Ребёнке.mp3',
					artist: 'Климбатика',
					url: '/songs/new-tale-of-the-star-boy-2009/01. В Каждом Маленьком Ребёнке.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				{
					name: '02. Песня Привидений.mp3',
					artist: 'Климбатика',
					url: '/songs/new-tale-of-the-star-boy-2009/02. Песня Привидений.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
				},
				
				
			]
		});

	});

</script>