description = "one-september-2008"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Первое сентября <span class="uk-label">2008</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/fn2qv9-LW3jaAQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="one-september-2008"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('one-september-2008'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Перемена',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/01. Перемена.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Трупная Луна',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/02. Трупная Луна.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Первое Сентября',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/03. Первое Сентября.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Темная Комната',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/04. Темная Комната.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Люби меня, моя луна',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/05. Люби меня, моя луна.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Карантин',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/06. Карантин.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Химические Капитаны',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/07. Химические Капитаны.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Майская депрессия',
					artist: 'Климбатика',
					url: '/songs/one-september-2008/08. Майская депрессия.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},

			]
		});

	});

</script>