description = "other"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Вне альбомов</h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/d_wZHojgr2bDUw" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="other"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('other'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'OST Право на Жизнь ',
					artist: 'Климбатика',
					url: '/songs/other/01. OST Право на Жизнь .mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Дети Индиго',
					artist: 'Климбатика',
					url: '/songs/other/02. Дети Индиго.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Дети Подземелья',
					artist: 'Климбатика',
					url: '/songs/other/03. Дети Подземелья.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Этот Странный Дед Мороз',
					artist: 'Климбатика',
					url: '/songs/other/04. Этот Странный Дед Мороз.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Крысы и Голуби',
					artist: 'Климбатика',
					url: '/songs/other/05. Крысы и Голуби.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Новый Год',
					artist: 'Климбатика',
					url: '/songs/other/06. Новый Год.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Она Звала',
					artist: 'Климбатика',
					url: '/songs/other/07. Она Звала.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Освенцим',
					artist: 'Климбатика',
					url: '/songs/other/08. Освенцим.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Страх-Точка-Ком',
					artist: 'Климбатика',
					url: '/songs/other/09. Страх-Точка-Ком.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Стук',
					artist: 'Климбатика',
					url: '/songs/other/10. Стук.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тук-Тук',
					artist: 'Климбатика',
					url: '/songs/other/11. Тук-Тук.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Возвращение',
					artist: 'Климбатика',
					url: '/songs/other/12. Возвращение.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Дети Пустыни',
					artist: 'Климбатика',
					url: '/songs/other/13. Дети Пустыни.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Извне',
					artist: 'Климбатика',
					url: '/songs/other/14. Извне.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Черное и Белое',
					artist: 'Климбатика',
					url: '/songs/other/15. Черное и Белое.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},

			]
		});

	});

</script>