description = "psychokinesis-2009"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Психокинетика <span class="uk-label">2009</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/_N6wzJ6szTx0sg" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="psychokinesis-2009"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('psychokinesis-2009'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'С Ветром Наравне',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/01. С Ветром Наравне.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Волки',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/02. Волки.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Продать свою Нежность',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/03. Продать свою Нежность.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Психокинетика',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/04. Психокинетика.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'При Луне',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/05. При Луне.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Три Мёртвых Рэпера',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/06. Три Мёртвых Рэпера.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Кукла',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/07. Кукла.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Одинокий Вампир',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/08. Одинокий Вампир.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Адский Клоун',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/09. Адский Клоун.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Такое Бывает',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/10. Такое Бывает.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Андеграунд',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/11. Андеграунд.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Продолжение Следует',
					artist: 'Климбатика',
					url: '/songs/psychokinesis-2009/12. Продолжение Следует.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},

			]
		});

	});

</script>