description = "remix-cover"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Ремиксы и каверы</h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/P_tec2eLo2IWNw" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="remix-cover"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('remix-cover'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Он умрет, несомненно, с тобой(rmx) ',
					artist: 'Климбатика',
					url: '/songs/remix-cover/01. Он умрет, несомненно, с тобой(rmx) .mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Карантин (rmx) ',
					artist: 'Климбатика',
					url: '/songs/remix-cover/02. Карантин (rmx) .mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Скованные Одной Цепью',
					artist: 'Климбатика',
					url: '/songs/remix-cover/03. Скованные Одной Цепью.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Попса',
					artist: 'Климбатика',
					url: '/songs/remix-cover/04. Попса.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Телепатетик',
					artist: 'Климбатика',
					url: '/songs/remix-cover/05. Телепатетик.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Мясо (mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/06. Мясо (mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Как на войне',
					artist: 'Климбатика',
					url: '/songs/remix-cover/07. Как на войне.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Нисхождение',
					artist: 'Климбатика',
					url: '/songs/remix-cover/08. Нисхождение.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'С Щитом иль на Щите',
					artist: 'Климбатика',
					url: '/songs/remix-cover/09. С Щитом иль на Щите.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Трансильвания',
					artist: 'Климбатика',
					url: '/songs/remix-cover/10. Трансильвания.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Пират',
					artist: 'Климбатика',
					url: '/songs/remix-cover/11. Пират.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Муза ',
					artist: 'Климбатика',
					url: '/songs/remix-cover/12. Муза .mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Кукушка',
					artist: 'Климбатика',
					url: '/songs/remix-cover/13. Кукушка.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Лысая Девочка',
					artist: 'Климбатика',
					url: '/songs/remix-cover/14. Лысая Девочка.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Эго',
					artist: 'Климбатика',
					url: '/songs/remix-cover/15. Эго.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Девочка Живущая в Сети',
					artist: 'Климбатика',
					url: '/songs/remix-cover/16.Девочка Живущая в Сети.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Освенцим (mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/17. Освенцим (mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Химические Капитаны ',
					artist: 'Климбатика',
					url: '/songs/remix-cover/18. Химические Капитаны .mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Он умрёт, несомненно, с тобой (rmx)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/19. Он умрёт, несомненно, с тобой (rmx).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Алесса (remix) ',
					artist: 'Климбатика',
					url: '/songs/remix-cover/20. Алесса (remix) .mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Освенцим (remix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/21. Освенцим (remix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тьма (club mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/22. Тьма (club mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тьма (dream-mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/23. Тьма (dream-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Затерянный (mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/24. Затерянный (mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Затерянный (orchestra mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/25. Затерянный (orchestra mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Алесса rmx',
					artist: 'Климбатика',
					url: '/songs/remix-cover/26. Алесса rmx.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Затерянный - Ящер (feat Климбатика)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/27. Затерянный - Ящер (feat Климбатика).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тьма - yasher_darkness_mix',
					artist: 'Климбатика',
					url: '/songs/remix-cover/28. Тьма - yasher_darkness_mix.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Ящер - Климбатика -- Затерянный (orchestra mix)',
					artist: 'Климбатика',
					url: '/songs/remix-cover/29. Ящер - Климбатика -- Затерянный (orchestra mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				
			]
		});

	});

</script>