description = "right-cross-out-2010"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Нужное Зачеркнуть <span class="uk-label">2010</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/8pwBqn-NeAiZXg" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="right-cross-out-2010"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('right-cross-out-2010'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Климботайз',
					artist: 'Климбатика',
					url: '/songs/right-cross-out-2010/01.Климботайз.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Прямо в Ад',
					artist: 'Климбатика',
					url: '/songs/right-cross-out-2010/02.Прямо в Ад.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'В Начале Было Слово',
					artist: 'Климбатика',
					url: '/songs/right-cross-out-2010/03.В Начале Было Слово.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Стрелок Господен',
					artist: 'Климбатика',
					url: '/songs/right-cross-out-2010/04.Стрелок Господен.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Сказки Книги Люцифера',
					artist: 'Климбатика',
					url: '/songs/right-cross-out-2010/05.Сказки Книги Люцифера.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Нужное - Зачеркнуть',
					artist: 'Климбатика',
					url: '/songs/right-cross-out-2010/06.Нужное - Зачеркнуть.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},

				
			]
		});

	});

</script>