description = "septem-2013"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Septem <span class="uk-label">2013</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/bdgf6O1Afywgrg" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="septem-2013"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('septem-2013'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Inferorus',
					artist: 'Климбатика',
					url: '/songs/septem-2013/00. Inferorus.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Пурпурный Гламур',
					artist: 'Климбатика',
					url: '/songs/septem-2013/01. Пурпурный Гламур.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Масон',
					artist: 'Климбатика',
					url: '/songs/septem-2013/02. Масон.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Это Мой Грех!',
					artist: 'Климбатика',
					url: '/songs/septem-2013/03. Это Мой Грех!.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Зависть',
					artist: 'Климбатика',
					url: '/songs/septem-2013/04. Зависть.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Робин - Бобин',
					artist: 'Климбатика',
					url: '/songs/septem-2013/05. Робин - Бобин.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Плачущий Убийца',
					artist: 'Климбатика',
					url: '/songs/septem-2013/06. Плачущий Убийца.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Уныние',
					artist: 'Климбатика',
					url: '/songs/septem-2013/07. Уныние.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				
				
			]
		});

	});

</script>