description = "silent-hill-2007"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Молчаливый холм <span class="uk-label">2007</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/cFGjUIpSbd7hgQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="silent-hill-2007"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('silent-hill-2007'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Молчаливый Холм',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/01. Молчаливый Холм.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Альтернативный мир',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/02. Альтернативный мир.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Дом желаний',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/03. Дом желаний.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Водная Тюрьма (Детки в Клетке)',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/04. Водная Тюрьма (Детки в Клетке).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Алесса',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/05. Алесса.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Перевоплощение',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/06. Перевоплощение.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Зайка',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/07. Зайка.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: '21-ое таинство',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/08. 21-ое таинство.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Кокон',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/09. Кокон.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Серый ребёнок',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/10. Серый ребёнок.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Комната 302',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/11. Комната 302.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Неспящий в Сайлент Хилле',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/12. Неспящий в Сайлент Хилле.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Силиконовая кукла',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/13. Нам не поверят.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Пролетая над озером Толука',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/14. Пролетая над озером Толука.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Повторные обещания. Эпилог',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/15. Повторные обещания. Эпилог.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Прощай',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/16. Прощай.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Сны Алессы (бонус)',
					artist: 'Климбатика',
					url: '/songs/silent-hill-2007/17. Сны Алессы (бонус).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
			]
		});

	});

</script>