description = "symphonies-of-fear-2014"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Симфония страха <span class="uk-label">2014</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/vV_cX8oibi25cw" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="symphonies-of-fear-2014"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('symphonies-of-fear-2014'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Запах Бежевого Дыма',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/01. Климбатика - Запах Бежевого Дыма.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тьма из-под кровати',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/02. Климбатика - Тьма из-под кровати.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Догхантер',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/03. Климбатика - Догхантер.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Под Лестницей',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/04. Климбатика - Под Лестницей.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Коулрофобия',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/05. Климбатика - Коулрофобия.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Щелкунчик',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/06. Климбатика - Щелкунчик.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Кладовка Белого Вепря',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/07. Климбатика - Кладовка Белого Вепря.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Моя Мёртвая Мама',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/08. Климбатика - Моя Мёртвая Мама.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'На Чердаке',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/09. Климбатика - На Чердаке.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Сзади',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/10. Климбатика - Сзади.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Как в Зеркале',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/11. Климбатика - Как в Зеркале.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Т',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/12. Климбатика - Т.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Гензель и Гретель',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/13. Климбатика - Гензель и Гретель.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Антропофаг',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/14. Климбатика - Антропофаг.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Я не Зомби',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/15. Климбатика - Я не Зомби.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Умри',
					artist: 'Климбатика',
					url: '/songs/symphonies-of-fear-2014/16. Климбатика - Умри.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				
			]
		});

	});

</script>