description = "ten-indians-2009"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Десять Негритят <span class="uk-label">2009</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/hK3GYqz_fXuxgQ" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="ten-indians-2009"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('ten-indians-2009'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'На Могиле Мамы',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/01.На Могиле Мамы.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Но Нифига',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/02.Но Нифига.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'На Этапе',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/03.На Этапе.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Десять Негритят',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/04.Десять Негритят.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Что Такое жалость',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/05.Что Такое жалость.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Я - Тварь!',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/06.Я - Тварь!.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Живете и мыслете',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/07.Живете и мыслете.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Молитва',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/08.Молитва.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Мясо',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/09.Мясо.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Блок Е',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/10.Блок Е.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Это Нереально',
					artist: 'Климбатика',
					url: '/songs/ten-indians-2009/11.Это Нереально.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
			]
		});

	});

</script>