description = "toy-single"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Игрушка(сингл) <span class="uk-label">2007</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/DcbNjQuZ0NSEFA" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="toy-single-2007"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('toy-single-2007'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Игрушка',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/01. Игрушка.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (club-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/02. Игрушка (club-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (nightmare-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/03. Игрушка (nightmare-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (trash-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/04. Игрушка (trash-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (depressia-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/05. Игрушка (depressia-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (orchestra-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/06. Игрушка (orchestra-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (gothic-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/07. Игрушка (gothic-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (acid-blood-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/08. Игрушка (acid-blood-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (vonka-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/09. Игрушка (vonka-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (alien-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/10. Игрушка (alien-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Игрушка (suezzid-mix)',
					artist: 'Климбатика',
					url: '/songs/toy-single-2007/11. Игрушка (suezzid-mix).mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
			]
		});

	});

</script>