description = "unflattering-may-2010"
==
<div uk-grid class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-grid uk-flex-middle">
	<div class="uk-card-media-left uk-first-column uk-task__article">
		<div class="" uk-navbar>
			<div class="uk-navbar-left">
				<h2>Неласковый Май <span class="uk-label">2010</span></h2>
			</div>
			<div class="uk-navbar-right">
				<a href="https://yadi.sk/d/765jPXIQzoKXJg" class="uk-button uk-button-primary uk-link-download"><span uk-icon="icon: download"></span> Скачать</a>
			</div>
		</div>
		<div id="unflattering-may-2010"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		const apFirst = new APlayer({
			container: document.getElementById('unflattering-may-2010'),
			mini: false,
			autoplay: false,
			audio: [
				{
					name: 'Рассвет',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/01.Рассвет.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Ангелы',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/02.Ангелы.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Мёртвые Одуванчики',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/03.Мёртвые Одуванчики.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Тетрадь Смерти',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/04.Тетрадь Смерти.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Солнце',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/05.Солнце.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Смерть - это Лишь Начало',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/06.Смерть - это Лишь Начало.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Kill Me',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/07.Kill Me.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				{
					name: 'Бог Спит',
					artist: 'Климбатика',
					url: '/songs/unflattering-may-2010/08.Бог Спит.mp3',
					cover: '/storage/app/media/music.png',
					lrc: 'lrc1.lrc',
					theme: '#ebd0c2'
				},
				
				
			]
		});

	});

</script>