description = "dev/header"
==
<nav id="nav" class="uk-container uk-container-center">
		
		<div class="title">
			<a href="/"><h1>Конструктор объявлений о поиске пропавших без вести</h1></a>
		</div>

		<div class="about">
			<ul class="uk-navbar-nav">
				<li><a href="#offcanvas" uk-toggle="">О проекте</a></li>
			</ul>
		</div>

        
        <!--
		<div class="uk-navbar-right uk-hidden@s">
			<ul class="uk-navbar-nav">
				<li>
					<a href="#" uk-icon="icon: menu" class="uk-icon"></a>
					
					
					<div class="uk-navbar-dropdown uk-border-rounded uk-background-muted">
						<ul class="uk-nav uk-navbar-dropdown-nav uk-text-right" uk-scrollspy="target: > li; cls:uk-animation-slide-right; delay: 300; repeat: true">
							<li class=" uk-nav-header" style="visibility: hidden;"><a href="/" ><span class="uk-margin-small-right uk-icon" uk-icon="album"></span> Слушать по-альбомно</a></li>
                    		<li class=" uk-nav-header" style="visibility: hidden;"><a href="/video" ><span class="uk-margin-small-right uk-icon" uk-icon="youtube"></span> Смотреть клипы</a></li>
                    		<li class=" uk-nav-header" style="visibility: hidden;"><a href="/about" ><span class="uk-margin-small-right uk-icon" uk-icon="users"></span> О группе</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		-->
</nav>

<!-- system -->
<style>
	.uk-container::before, .uk-container::after {
		display: none !important;
	}
	#nav {
		width: 1240px;
		min-width: 1240px;
		margin: auto;
		padding: 0;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	#nav .title {

	}
	#nav .title a {

	}
	#nav .title a:hover {
		text-decoration: none;
	}
	#nav .title h1 {
		font-size: 30px;
		margin: 0;
	}
	#nav .about {

	}
</style>